<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      
        body{
            
        background-image: url("https://images.unsplash.com/photo-1530790359200-e2cac35c770d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1355&q=80");        
        background-repeat: no-repeat;
        background-size: cover;
        }
      
    </style>
    </head>

 <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/">Search</a>
      @if(ViewBag.CurrentAdmin != null){
    <a class="dropdown-item" href="/Final">Add Organizations</a>
    <a class="dropdown-item" href="/AdminDash">Admin Dashboard</a>
    <a class="dropdown-item" href="/CreateAdmin">Create Admin</a>

      }
      else
      {

      }
    @if(ViewBag.CurrentAdmin == null){
    <a class="dropdown-item" href="/AdminLogin">Admin</a>
    }
    else{
    <a class="dropdown-item" href="/Logout">Logout</a>
    }
  </div>
</div>

<div class="text-center">
    <h1 class="display-4">Admin Dashboard</h1>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Church Name</th>
            <th>Organizations</th>
            <th>Pastor Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Actions</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        
                @foreach(var Chu in Model){
            <tr>
                <td>@Chu.ChurchName</td>
               
                <td>@Chu.Owner.Name</td>
                <td>@Chu.PastorsName </td>
                <td>@Chu.Address</td>
                <td>@Chu.City</td>
                <td>@Chu.State</td>
                <td>
                    @if (Chu.Accept == false)
                    {
                        <form action="/Add/@Chu.ChurchId" method="post"><button
                                class="btn btn-warning">Add To List</button></form>
                    }
                    else
                {
                <form action="/Remove/@Chu.ChurchId" method="post"><button class="btn btn-primary">Remove From List</button>
                </form>
                }
            </td>
            <td>
                    
                        <form action="/Delete/@Chu.ChurchId" method="post"><button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
        </tr>
                }
        
    </tbody>
</table>

